	
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

#username, #password {
	margin-bottom:10px;
	width:200px;
}

#sidebar>li:nth-child(1)>a{
	padding-top:20px;
}
body h2 {
	font-size:52px;
}
@media screen and (max-width: 650px){ 

	body{
		display:block !important;
		position:relative;
		top: 86px !important;
		}	
	.carousel-inner>.item>img, .carousel-inner>.item>a>img, carousel-indicators, .carousel-inner .item{
		max-width:620px !important;
		height:100% !important;
	}
}

@media screen and (min-width: 621px) {
	body{
		
		/*position:relative;
		top: 60px !important;*/
		padding-top:86px;
		}	
		
	.carousel-inner>.item>img, .carousel-inner>.item>a>img, carousel-indicators, .carousel-inner .item{
	width:100% !important;
	height:100% !important;
	}

}
.field-set{
	padding-top:20px;
}
ul.sm ul.sm-nowrap>li>a {
	white-space:none;
}
.sm, .sm-blue, .top, .collapsed, sm-blue-vertical, sm-vertical {
	background-image:none !important;
	background-color: #FFF !important;
	border-radius:0;
}


.sm-blue a:hover, .sm-blue a:active, .sm-blue a.highlighted, sm-blue-vertical, sm-vertical, .sm-blue a:focus {
	background-image:none !important;
	background-color:rgba(85, 197, 254, 0.98)!important;
	color:#FFF !important;
	border-width: 0px;

	
}

ul.sm ul.sm-nowrap>li>a {

}
ul.sm ul.sm-nowrap>li>a:hover {
	
}
.sm-blue > li:first-child > a ,sm-vertical > li:first-child > a {
	border-radius:0px !important;
}

ul.sm a {
	height:61px;
	text-align: center;
	vertical-align: middle;
	line-height: 61px; 
	font-size:25px;
	color:rgba(85, 197, 254, 0.98);
}

ul.sm ul.sm-nowrap>li>a {

white-space: nowrap;
color:rgba(85, 197, 254, 0.98)!important;

}
ul.sm ul.sm-nowrap>li>a:hover{
	background-color: rgba(85, 197, 254, 0.98);
	color:#FFF!important;

}

.sm-blue a:focus {
	background-image:none !important;
	background-color:
}

#main-menu li, sm-blue-vertical li {
	border-style:hidden !important;
}

#main-menu {
	border-radius:0;
	-webkit-box-shadow: 0 0 10px rgba(34,44,55,0.3);
	-moz-box-shadow: 0 0 10px rgba(34,44,55,0.3);
	box-shadow: 0 0 10px rgba(34,44,55,0.3);
}
#sub-menu li a:hover {
	border-width: 0px;
}
#sub-menu li a {
	border-bottom:0;
}
.navbar-fixed-top .sm-blue a{
	border-width: 0px;
	border-radius:0;
	min-width:85px;
	font-size: 25px;
}
h1, h2, h3, h4, a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    
}
p {
    font-family: 'Open Sans', sans-serif;
    
}
html, body, container-fluid {
    background-color: #EEE !important;
}
.container-fluid {
	position:relative !important;
	padding:0 !important;
}


.nav a{
	color: #FFF !important;

	
}
.navbar-brand {
	color: rgba(85, 197, 254, 0.98) !important;
}
.nav a:hover {
	color:#FFFFFF !important;
	
}
.navbar-toggle {
    background-color:rgba(85, 197, 254, 0.98) !important;
    font-size: 31x;
    margin: 3px;
    padding: 2px 5px;
    line-height: 32px;
}
.navbar-nav li a{
	text-align: center;	
	min-height:35px;
}
.dropdown-menu {
	padding:0;
	display: none;
	background-color: rgba(85, 197, 254, 0.98)!important;
}
.dropdown:hover .dropdown-menu {
	display:block;
}
.dropdown-menu li{
	padding-top:0;
	margin:0;
}

.dropdown-menu li a{
	position: relative;
}

.navbar-nav li a:hover {
	border-bottom-color:#3193c0;
	border-bottom-width:20px;
    color:rgba(16, 153, 235, 0.78) !important;
}

.test {
	position:relative !important;
}
.top{
	padding-right:5px;
}
.carousel{
	height:800px;
	
}

.carousel-inner {
	height:800px;
}
.carousel-inner img {
 height:100%;
}


/* hover CSS
 * 
 * 
 * 
 * */
 
.sidebar{
	background-color: rgba(85, 197, 254, 0.98)!important;
	width:9% !important;
	position:fixed !important;
	top:40px !important;
	left:-15px !important;
	height:1500px !important;
	
	
	
}
.modal-backdrop {
    z-index: 1020 !important;
}

#menu-button {
  display:none;
  /* style it as you like... */
}
#menu-button:before {
  content:'Menu -';
}
#menu-button.collapsed:before {
  content:'Menu +';
}
@media screen and (max-width: 640px) {
  /* show the button on small screens */
  #menu-button {
    display:inline-block;
  }
  /* hide the menu when it has the "collapsed" class set by the script */
  #main-menu.collapsed {
    display:none;
  }
}


.scroll-top {
	background-color: #2f2f2f;
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	font-size: 18px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	position: fixed;
	bottom: 60px;
	right: 20px;
	display: none;
	overflow: hidden;
	z-index: 1000;
	webkit-border-radius: 20px;
	webkit-background-clip: padding-box;
	moz-border-radius: 20px;
	moz-background-clip: padding;
	border-radius: 20px;
	background-clip: padding-box;
	webkit-transition: background 0.3s ease-in-out;
	moz-transition: background 0.3s ease-in-out;
	o-transition: background 0.3s ease-in-out;
	ms-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

.scroll-top:hover, .scroll-top:focus {
	background-color: #222222;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-decoration: none;
}

.footer {
	position:  !important;
	bottom: 10px !important;
}

/* This button was generated using CSSButtonGenerator.com */


/* start of animation css */

#sun.animate {
	animation-name: sunrise;
	animation-duration: 10s;
	animation-timing-function: ease;
	animation-iteration-count: 1;	
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

@keyframes sunrise {

	0% {
		bottom: 0;
		left: 340px;
		background: #f00;
	}
	
	33% {
		bottom: 340px;
		left: 340px;
		background: #ffd630;
	}

	66% {
		bottom: 340px;
		left: 40px;
		background: #ffd630;
	}

	100% {
		bottom: 0;
		left: 40px;
		background: #f00;
	}

}


.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 5000px;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

